[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.3"
django-cloudinary-storage = "==0.3.0"
django-cms = "==5.0.1"
django-extensions = "==4.1"
django-filer = "*"
django-heroku = "==0.3.1"
django-mptt = "*"
django-taggit = "==6.1.0"
django-taggit-autosuggest = "==0.4.2"
djangocms-admin-style = "*"
djangocms-attributes-field = "*"
djangocms-column = "*"
djangocms-file = "*"
djangocms-googlemap = "*"
djangocms-link = "==5.0.1"
djangocms-picture = "*"
djangocms-style = "*"
djangocms-text-ckeditor = "*"
djangocms-video = "*"
gunicorn = "==23.0.0"
ipython = "==9.3.0"
pillow = "==11.2.1"
psycopg2 = "==2.9.10"

[dev-packages]

[requires]
python_version = "3.9"
