[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.28"
django-cloudinary-storage = "==0.2.3"
django-cms = "*"
django-extensions = "==2.1.6"
django-filer = "*"
django-heroku = "==0.3.1"
django-mptt = "*"
django-taggit = "==1.1.0"
django-taggit-autosuggest = "==0.3.7"
djangocms-admin-style = "*"
djangocms-attributes-field = "*"
djangocms-column = "*"
djangocms-file = "*"
djangocms-googlemap = "*"
djangocms-link = "==1.1.0"
djangocms-picture = "*"
djangocms-snippet = "*"
djangocms-style = "*"
djangocms-text-ckeditor = "*"
djangocms-video = "*"
gunicorn = "==19.9.0"
ipython = "==7.4.0"
pillow = "==6.2.2"
psycopg2 = "==2.9.9"

[dev-packages]

[requires]
python_version = "3.9"
